[flake8]
# Maximale Zeilenlänge erhöhen, um die E501-Fehler zu vermeiden
max-line-length = 120

# Aktuelle Style-Fehler ignorieren
extend-ignore =
    E402,
    F401,
    E302,
    E305,
    W293,
    W391,
    E501,
    E116
