[flake8]
max-line-length = 120

extend-ignore =
    E402,
    F401,
    F811,  # redefinition of unused name
    F841,  # assigned but never used
    E302,
    E305,
    W293,
    W391,
    E501,
    E116
